.block-ann {
    border: 1px solid gray;
    padding: 30px;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px
}

.pagination {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 48px auto;
}

.pagination a, .pagination .page-disabled {
    display: inline-block;
    border: solid 1px gray;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}

.pagination a {
    background: gray;
    color: white;
    text-decoration: none;
}

.pagination a:hover {
    background: gray;
    text-decoration: underline;
}

.pagination .page-disabled {
    background: gray;
    color: #dddddd
}

.pagination .current-page {
    display: inline-block;
}


.pagination .current-page input {
    width: 50px;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 1px gray;
}