{% extends "base.html" %}


{% block content %}
    <div class="card d-flex flex-row">
        <img class="mr-3 circle-img" src="{{ announcement.image.url }}" alt="user_avatar"
             width="400"
             height="500">
        <div>
            <div class="card-body">
                <h5 class="card-title">{{ announcement.title }}</h5>
                <p class="card-text">{{ announcement.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a style="text-decoration: none; color: black"
                                               href="{% url "accounts:profile" announcement.author.pk %}">Автор:<b> {{ announcement.author.first_name }} {{ announcement.author.last_name }}</b></a>
                </li>
                <li class="list-group-item"><span>Цена: </span>{{ announcement.price }}</li>
                <li class="list-group-item"><span>Категория:</span> {{ announcement.category.name }}</li>
                <li class="list-group-item"><span>Дата публикации:</span> {{ announcement.publicated_at }}</li>
            </ul>
            {% if request.user == announcement.author %}
                <div class="card-body">
                    <form action="{% url "webapp:announcemen_update" announcement.pk %}" method="get">
                        <button style="margin: 5px" class="btn btn-success">Редактировать</button>
                    </form>
                    <form action="{% url "webapp:announcemen_delete" announcement.pk %}" method="get">
                        <button style="margin: 5px" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}