{% extends "base.html" %}


{% block content %}
    <div class="card d-flex flex-row">
        <img class="mr-3 circle-img" src="{{ announcement.image.url }}" alt="user_avatar"
             width="400"
             height="500">
        <div>
            <div class="card-body">
                <h5 class="card-title">{{ announcement.title }}</h5>
                <p class="card-text">{{ announcement.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a style="text-decoration: none; color: black"
                                               href="{% url "accounts:profile" announcement.author.pk %}">Автор:<b> {{ announcement.author.first_name }} {{ announcement.author.last_name }}</b></a>
                </li>
                <li class="list-group-item"><span>Цена: </span>{{ announcement.price }}</li>
                <li class="list-group-item"><span>Категория:</span> {{ announcement.category.name }}</li>
                <li class="list-group-item"><span>Дата создания:</span> {{ announcement.created_at }}</li>
            </ul>
            {% if announcement.status == "moderated" %}
                <div id="block_moderated_{{ announcement.pk }}" style="display: flex; flex-direction: row">
                    <button data-pk="{{ announcement.pk }}" onclick="acceptStatus(event)" style="margin: 5px"
                            class="btn btn-success">Принять
                    </button>
                    <button data-pk="{{ announcement.pk }}" onclick="rejectStatus(event)" style="margin: 5px"
                            class="btn btn-danger">Отклонить
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
