{% extends "base.html" %}


{% block content %}
    <div>
        <div>
            <div>
                <img class="mr-3 circle-img" src="{{ announcement.image.url }}" alt="user_avatar"
                     width="80"
                     height="80">

            </div>
            <h3>{{ announcement.title }}</h3>
            <p><span>Описание:</span> {{ announcement.description }}</p>
            {% if announcement.price != 0 %}
                <p><span>Цена:</span> {{ announcement.price }}</p>
            {% endif %}
            <p><span>Категория:</span> {{ announcement.category.name }}</p>
            <p><span>Дата создания:</span> {{ announcement.created_at }}</p>
            <a style="text-decoration: none; color: black" href="{% url "accounts:profile" announcement.author.pk %}">Автор:<b> {{ announcement.author.first_name }} {{ announcement.author.last_name }}</b></a>
            {% if announcement.status == "moderated" %}
                <div id="block_moderated_{{ announcement.pk }}" style="display: flex; flex-direction: row">
                    <button data-pk="{{ announcement.pk }}" onclick="acceptStatus(event)" style="margin: 5px"
                            class="btn btn-success">Принять
                    </button>
                    <button data-pk="{{ announcement.pk }}" onclick="rejectStatus(event)" style="margin: 5px"
                            class="btn btn-danger">Отклонить
                    </button>
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}
