{% extends 'base.html' %}

{% block content %}
    {% for announcement in announcements %}
        <div class="block-ann">
            <div>
                <a href="{% url "webapp:announcemen_detail" announcement.pk %}"><span>{{ announcement.title }}</span></a>
                <p><span>Описание:</span> {{ announcement.title }}</p>
                {% if announcement.price != 0 %}
                    <p><span>Цена:</span> {{ announcement.price }}</p>
                {% endif %}
                <p><span>Категория:</span> {{ announcement.category.name }}</p>
                <p><span>Автор:</span> {{ announcement.author.first_name }} {{ announcement.author.last_name }}</p>

            </div>
        </div>
    {% endfor %}

{% endblock %}